.brio-auto-outer-container {
  height: 100vh;
  width: 80%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.brio-auto-header {
  height: 6%;
  padding: 5px 30px;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  display: flex;
  align-items: center;
  p {
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--primary-blue-color);
  }
}

.share-button {
  color: var(--primary-blue-color) !important;
  border-radius: 50px !important;
  text-transform: none !important;
  border: 0.75px solid var(--primary-blue-color) !important;
}

.add-new-task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
  color: var(--primary-blue-color);
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 14px;
  }
  height: max-content;
}

.task-descrition-outer-container {
  display: flex;
  align-items: flex-end;
  gap: 2;
  margin-top: 15px;
}

.task-descrition-inner-container {
  position: relative;
  flex: 1;
  width: 700px;
  align-items: flex-end;
}

.task-descrition-input {
  > div {
    border-radius: 25px !important;
    padding: 10px 10px !important;
    textarea {
      font-size: 0.9rem !important;
    }
  }
}

.create-task-button {
  background-color: var(--primary-blue-color) !important;
  border-radius: 50px !important;
  text-transform: none !important;
  font-size: 0.8rem !important;
}

.create-icon {
  height: 16px !important;
  width: auto !important;
}
.task-manager-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 95%;
  border-radius: 5px;
  background-color: var(--light-gray-background);
  flex: 1;
  align-self: center;
  margin-bottom: 2%;
  padding: 20px;
  overflow-y: scroll;
}

.tab-list {
  width: max-content;
  border-radius: 50px;
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 5px;
  button {
    color: black !important;
    width: 130px;
    &.active {
      color: #ffffff !important;
      background-color: var(--primary-blue-color) !important;
      border-radius: 50px !important;
    }
  }
}

.task-summary {
  flex: 1;
  height: max-content;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #cccccc;
  .task-summary-heading {
    color: gray;
    font-size: 0.8rem;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #cccccc;
  }
}
