:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  h1,
  p {
    margin: 0;
  }
  button {
    text-transform: none !important;
  }
}
